# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
*.db
*.env
.env
db.sqlite3

# Virtual environment
venv/
ENV/
env/

# VSCode & system files
.vscode/
.DS_Store

# Mac / Linux
*.swp
